{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 120,
	"tabWidth": 4,
	"semi": true,
	"quoteProps": "consistent",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "always"
}
